@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #6fffb0;
}

html {
  scroll-behavior: smooth;
}

@keyframes floatSlow {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30px, 40px);
  }
}

@keyframes floatSlower {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-40px, 30px);
  }
}

.animate-float-slow {
  animation: floatSlow 10s ease-in-out infinite;
}

.animate-float-slower {
  animation: floatSlower 14s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 8s ease infinite;
}